#post-body-content .waves-menu-options{
    display: none;
    background-color: #F7F7F7;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#post-body-content li.menu-item-depth-0 .waves-menu-options,
#post-body-content li.menu-item-depth-1 .waves-menu-options{
    display: inline-block;
    width: 100%;
}
#post-body-content .waves-menu-options>.field-waves{
    display:none;
    width: 0;
    height: 0;
    overflow: hidden;
}
#post-body-content li.menu-item-depth-1 .waves-menu-options>.field-waves-hide-title,
#post-body-content li.menu-item-depth-0 .waves-menu-options>.field-waves-is-mega,
#post-body-content li.menu-item-depth-0 .waves-menu-options>.field-waves-column{
    display:inline-block;
    width: 90%;
    height: auto;
}
#post-body-content .waves-menu-options>h4{
    font-weight: bold;
}