/* ------------ Logo ------------- */

.logo-center.logo-container{
	text-align:center;
/*	padding-top: 52px;
*/	/*padding-bottom: 151px;*/
}
@media (max-width: 991px) { 
.logo-center.logo-container {
text-align: center;
padding-bottom: 35px;

/*padding-top: 10px;*/
}
}

@media (max-width: 767px) { 
    .mobile-menu{
        margin-top: 190px;
}
	.show-mobile-menu.logo-center{
		margin-bottom: -200px;
	}
}


#page-title {
	padding-top: 1px; 
	padding-bottom: 1px; 
}

/* ------------ Video ------------- */


.ls-l.ls-video-layer.ls-videohack{
	left: 0px !important;

}


/* ------------ Menü ------------- */
ul.sf-menu > li > a {
	padding: 15px 15px 15px;
}

#mobile-menu ul li.has-children>.action-expand{
	font-size: 70px;
	float: left;
	width: 10%;


}

